extends layout.pug

block header
    include header

block content   
    .container-fuild
        .row
            div(class='col-10 offset-1')
                h6.mt-4 Total de #{title.toLowerCase()}: #{scooters.count} | Total de p치ginas: #{scooters.pages}
                
                h3.mt-4 #{title} - P치gina #{page}
                .table-responsive
                    table(class='table table-bordered table-striped table-responsive') 
                        thead
                            th Scooter (ID)
                            th Batch
                            th Code
                            th Hash 
                            th BluetoothMAC
                            th Battery
                            th Status
                            th City
                            th Latitude
                            th Longitude                            
                            th Ver scooter
                        tbody
                        if scooters
                            each scooter in scooters.result
                                tr
                                    td #{scooter.id}   
                                    td #{scooter.batch}                                      
                                    td #{scooter.code}
                                    td #{scooter.hash}
                                    td #{scooter.bluetoothMAC}
                                    td #{scooter.battery}                                    
                                    td #{scooter.status}
                                    td #{scooter.city}
                                    td #{scooter.lat}
                                    td #{scooter.lng}
                                    
                                    td.tableBtn
                                        a(href=host + '/admin/scooter/' + scooter.id class='btn btn-success') Ver
                                      
                - var nextPage = parseFloat(page) + 1;
                - var prevPage = parseFloat(page) - 1;
                if page > 1
                    a(class='btn btn-success mr-3 mt-3' href='?page='+prevPage) <- P치gina #{prevPage} 
                if page < scooters.pages
                    a(class='btn btn-success mt-3' href='?page='+nextPage) P치gina #{nextPage} ->
                