extends layout.pug

block header
    include header

block content   
    .container-fuild
        .row
            div(class='col-10 offset-1')
                h6.mt-4 Total de #{title.toLowerCase()}: #{users.count} | Total de páginas: #{users.pages}
                
                h3.mt-4 #{title} - Página #{page}
                .table-responsive
                    table(class='table table-bordered table-striped ') 
                        thead
                            th Orden (ID)
                            th Usuario (email)
                            th Producto (código)
                            th Total (MXN)
                            th Método
                            th Estado
                            th Fecha de creación
                            th Fuente
                            th Ver orden
                        tbody
                        if users
                            each user in users.result
                                tr
                                    td #{user.id}                                         
                                    
                                    td.tableBtn
                                        a(href=host + '/admin/order/' + user.id class='btn btn-success') Ver orden
                                      
                - var nextPage = parseFloat(page) + 1;
                - var prevPage = parseFloat(page) - 1;
                if page > 1
                    a(class='btn btn-success mr-3 mt-3' href='?page='+prevPage) <- Página #{prevPage} 
                if page < users.pages
                    a(class='btn btn-success mt-3' href='?page='+nextPage) Página #{nextPage} ->
                